/.metadata/
/.recommenders/
/Greetings/
/HelloWorld/
/MyCap/.settings/*
/spring-websocket-4.2.0.RELEASE/
/HelloWorld/.setting/
/HelloWorld/.classpath
/MyCap-InventoryManagement-EJBClient/.setting/*
/MyCap-InventoryManagement-EJBClient/.classpath

MyCap-InventoryManagement-EJB/.classpath
/MyCap-InventoryManagement-EJB/.setting/*
